{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

  <title>{% block title %}Audit{% endblock %}</title>

  <!-- GLOBAL CSS -->
  <link rel="stylesheet" href="{% static 'css/app.css' %}">

  <!-- PAGE CSS -->
  {% block extra_css %}{% endblock %}
</head>

<body>

{% if request.user.is_authenticated and show_action_bar %}
  {% with current=request.resolver_match.url_name %}
  <div class="action-bar">

    {% if current != "audit_form" %}
      <a href="{% url 'audit_form' %}" class="abtn audit">➕ Audit</a>
    {% endif %}

    {% if current != "audit_page" %}
      <a href="{% url 'audit_page' %}" class="abtn results">📊 Natijalar</a>
    {% else %}
      <button class="abtn" onclick="history.back()">⬅ Orqaga</button>
    {% endif %}

    {% if current != "low_scores" %}
      <a href="{% url 'low_scores' %}" class="abtn warning">⚠ Past ballar</a>
    {% else %}
      <button class="abtn warning" onclick="history.back()">⬅ Orqaga</button>
    {% endif %}

  </div>
  {% endwith %}
{% endif %}

<main class="container">
  {% block content %}{% endblock %}
</main>

<!-- GLOBAL JS -->
<script src="{% static 'js/app.js' %}"></script>

<!-- PAGE JS -->
{% block extra_js %}{% endblock %}

</body>
</html>
